{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "dynamic-import-node",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "ignore": [
    "dist/*.js",
    "lib/**/*.js",
    "es/**/*.js"
  ]
}
